<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="css/mdb.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="css/style.css" rel="stylesheet">
    <!-- Stars -->
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DAVE</title>
</head>

<body>
    <!--Navbar -->
    <nav class="peach-gradient navbar navbar-expand-lg navbar-dark">
        <div class="mx-auto">
            <a class="navbar-brand" style="letter-spacing: 3px; font-weight: 600;" href="#">DAVE</a>
        </div>
    </nav>
    <!--/.Navbar -->

    <div class="container-fluid">
        <div class="row">
            <div class="col-12 mt-3" style="text-align:center;">
                <div class="card d-inline-block" style="margin: 15px; width:30%; vertical-align: top;" th:each="cartoon, iteration : ${cartoons}">
                    <div class="card-horizontal">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-5">
                                    <div class="img-square-wrapper">
                                        <img th:src="${cartoon.url}" class="img-fluid" style="max-height:100px; min-height:100px;">
                                    </div>
                                </div>
                                <div class="col-7">
<div class="row">
                                    <h4 class="card-title" th:text="${cartoon.name}">Card title</h4>
</div>
<div class="row">
                                <div class="col-2">
                                    <div class="container" style="margin-left:15px;" th:id="'ratingStars-'+${iteration.index}">
                                        <div class="starrating d-flex justify-content-center flex-row-reverse">
                                            <input type="radio" th:id="'star5'+${iteration.index}" th:name="'rating'+${iteration.index}" value="5"
                                                onclick="change_rating(5)" /><label th:for="'star5'+${iteration.index}"></label>
                                            <input type="radio" th:id="'star4'+${iteration.index}" th:name="'rating'+${iteration.index}" value="4"
                                                onclick="change_rating(4)" /><label th:for="'star4'+${iteration.index}"></label>
                                            <input type="radio" th:id="'star3'+${iteration.index}" th:name="'rating'+${iteration.index}" value="3"
                                                onclick="change_rating(3)" /><label th:for="'star3'+${iteration.index}"></label>
                                            <input type="radio" th:id="'star2'+${iteration.index}" th:name="'rating'+${iteration.index}" value="2"
                                                onclick="change_rating(2)" /><label th:for="'star2'+${iteration.index}"></label>
                                            <input type="radio" th:id="'star1'+${iteration.index}" th:name="'rating'+${iteration.index}" value="1"
                                                onclick="change_rating(1)" /><label th:for="'star1'+${iteration.index}"></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>

    <div class="d-flex justify-content-center" style="margin: 10px;">
        <button type="button" class="btn btn-submit">Submit</button>
    </div>

    <h1>Form</h1>
    <form action="#" th:action="@{/rate}" th:object="${ratings}" method="post">
        <p>Id: <input type="number" th:field="*{id}" /></p>
        <p>Review: <input type="number" th:field="*{review}" /></p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>

    <!-- SCRIPTS -->
    <!-- JQuery -->
    <script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="js/mdb.min.js"></script>
</body>

</html>